/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

#XfcePanelWindow { 
	margin-bottom: 25px; 
	background-color: rgba(50, 50, 50, 0.75); 
	border-radius: 15px; 
	outline-width: 25px; 
	outline-color: transparent; }
